@import '../../styles/variables';

.istable {
  background-color: white;
  border-collapse: separate;
  border-radius: 4px;
  border-spacing: 0;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  font-size: 0.8em;
  width: 100%;

  thead {
    background-color: $color-gray-001;
    box-shadow: 0 4px 3px 0px rgb(0 0 0 / 4%);
    position: sticky;
    top: 0;
    z-index: 10;

    th {
      border-bottom: 1px solid $color-gray-002;
      padding: 16px;
      text-align: right;

      &:first-child {
        text-align: left;
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;
      user-select: none;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }

      &.high {
        animation: AnimationGreen 0.3s ease;
      }

      &.low {
        animation: AnimationRed 0.3s ease;
      }

      @keyframes AnimationGreen {
        0% {
          background-color: rgba($color-green-000, 1);
        }
        100% {
          background-color: rgba($color-green-000, 0);
        }
      }

      @keyframes AnimationRed {
        0% {
          background-color: rgba($color-red-000, 1);
        }
        100% {
          background-color: rgba($color-red-000, 0);
        }
      }
    }

    td {
      padding: 16px;
      text-align: right;

      &:first-child {
        text-align: left;
      }

      &.collapse-wrapper {
        padding: 0;
      }

      img,
      div {
        display: inline-block;
        vertical-align: middle;
      }

      img {
        margin-right: 10px;
        width: 30px;
      }
    }
  }
}
